<h1 class="current-category"><%= params[:category] %></h1>
<% if @tutorials.count == 0 %>
  <h3>There are no tutorials in this category</h3>
<% else %> 
  <% @tutorials.each do |tutorial| %>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="well well-lg">
          <div class="article-title">
            <%= link_to tutorial.title, tutorial_path(tutorial) %>
          </div>
          <div class="article-body">
            <%= truncate(tutorial.content, length: 100) %>          
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>