<h1 class="current-category"><%= params[:category] %></h1>

<% if @tutorials.count == 0 %>
  <h3>There are no tutorials in this category</h3>
<% else %> 
  
  

  <div class="row">
    <% @tutorials.each do |tutorial| %>
      <div class="container">        
        <div class="col-md-7">        
          <%= image_tag tutorial.tutorial_img.url(:tutorial_index), class: "img-responsive show-img" %>
        </div>
        <div class="col-md-5">              
          <h4 class="show-caption"><%= truncate(tutorial.content, length: 300) %></h4>
          <%= link_to 'READ MORE', tutorial_path(tutorial), class: "btn btn-info" %>
        </div>
      </div>
      <hr> 
    <% end %>
  </div>

<% end %> <!-- END ELSE -->



<script>
  $(function(){
    $('#myCarousel').carousel();
  });
</script>