<h1 class="current-category"><%= params[:category] %></h1>
<% if @tutorials.count == 0 %>
  <h3>There are no tutorials in this category</h3>
<% else %> 
  <div class="row">
    <% @tutorials.each do |tutorial| %>
      <div class="col-md-3">
        <a href="/tutorials/<%= tutorial.id %>">
          <%= image_tag tutorial.tutorial_img.url(:tutorial_index), class: "tutorial" %>
        </a>
      </div>
    <% end %>
  </div>
<% end %>