$navbar-default-bg: #1f1e62;
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Lato);
@import "bootstrap-sprockets";
@import "bootstrap";

@mixin background-tile {
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 2px;
  /*box-shadow: 1px 1px 3px 4px #ccc;*/
  padding: 0.6em 0.6em;
}

body, html {
  /*background: -webkit-linear-gradient(40deg, #d1edf0 10%, #ecc8c6 100%);
  background:    -moz-linear-gradient(40deg, #d1edf0 10%, #ecc8c6 100%);
  background:     -ms-linear-gradient(40deg, #d1edf0 10%, #ecc8c6 100%);
  background:      -o-linear-gradient(40deg, #d1edf0 10%, #ecc8c6 100%);
  background:         linear-gradient(40deg, #d1edf0 10%, #ecc8c6 100%);*/
  background: #d5dde4;
  font-family: 'Lato', sans-serif;
  height: 100%;
}

/* CAROUSEL */
.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/*h1, h2, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
}*/

.show-caption {
  font-family: 'Lato', sans-serif;
  font-weight: 50;
}


p.alert, p.notice {
  margin: 0;
}

/* Navbar/navigation styles */

.navbar {
  font-family: 'Lato', sans-serif;
  /*text-transform: uppercase;*/
  font-size: 18px;
}
.navbar-default {
  background-color: #222831;
  padding-bottom: 5px;
  padding-top: 5px;

  .navbar-nav > li > a {
    color: #fff;
    /*&:hover {
      color: darken(#bdbdbd, 5%);
      transition: 0.5s;
    }*/
  }

  
  .navbar-header {

    .navbar-brand {
      color: #7098DA;
      letter-spacing: -1.2px;     
      font-family: montserrat;
      font-size: 1.7em;
      font-weight: bold;
    }

  }

 /* .dropdown-menu > li > a:hover {
    background-color: darken(#bdbdbd, 5%);
    color: #fff;
  }*/

  /*.navbar-nav > .open > a, .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus {
    background-color: darken(#bdbdbd, 5%);
    color: #fff;  
  }*/

}

/*.dropdown-menu > .active > a {
  background-color: #bdbdbd;
  color: #fff;
}*/






.btn-custom {
  color: darken(#bdbdbd, 5%);
  background-color: #fff;
  border: 1px solid darken(#bdbdbd, 5%);
  padding: 8px 20px;
  border-radius: 2px;
  font-family: 'Lato', sans-serif;
  &:hover {
    text-decoration: none;
    background-color: darken(#bdbdbd, 5%);
    color: #fff;
    transition: 0.5s;
  }
}

.btn-custom2 {
  color: #333;
  background-color: #fff;
  border: 1px solid #222;
  padding: 8px 20px;
  border-radius: 2px;
  font-family: 'Lato', sans-serif;
  &:hover {
    text-decoration: none;
    background-color: #333;
    color: #fff;
    transition: 0.5s;
  } 
}

.links {

  .btn-custom {
    padding: 3px 10px;
    font-weight: 300;
  }

}

.tutorial-links {

  .btn-custom {
    padding: 3px 10px;
    font-weight: 300;
    margin-top: 40px; 
  }

}

/* tutorial styles */

.show-img {
  width: 600px;
  height: 300px;
}

.tutorial {
  /*height: 350px;
  width: 250px;
  margin-bottom: 2px;
  @include background-tile;*/
}

.tutorial-show {
  /*height: 475px;
  width: 325px;
  @include background-tile;*/
}

.tutorial-info {
  @include background-tile;

  .tutorial-title {
    margin-top: 0;
    font-size: 4em;
    font-weight: bold;
  }

  .number-of-reviews {
    font-size: 0.85em;
    font-style: italic;
  }

  .tutorial-desc {
    font-size: 1.05em;
    line-height: 1.5;
    margin-bottom: 15px;
    margin-top: 15px;
  }

}

/* current-category styles */

.current-category {
  margin-bottom: 40px;
}

.reviews {

  @include background-tile;
  margin-top: 40px;

  h1 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 2em;
    font-weight: bold;
  }

  .review {
    border-bottom: 1px solid gainsboro;
    margin-bottom: 15px;
    padding-bottom: 10px;

    .review-comment {
      font-size: 1.05em;
      line-height: 1.5;
    }

  }

  .new-review {
    padding-top: 8px;
  }

}

/* New tutorial Form styles */

.new-tutorial-form {
  @include background-tile;

  h1 {
    margin-top: 0;
    font-weight: bold;
  }

  #category_id {
    margin-bottom: 10px;
  }

  #tutorial_tutorial_img {
    margin-bottom: 10px;
  }

}

/* Edit tutorial Form styles */

.edit-tutorial-form {

  @include background-tile;

  h1 {
    margin-top: 0;
    font-weight: bold;
  }

  #tutorial_category_id {
    margin-bottom: 10px;
  }

  #tutorial_tutorial_img {
    margin-bottom: 10px;
  }

}

/* New/Edit review form styles */

.new-review-form, .edit-review-form {
  @include background-tile;

  h1 {
    margin-top: 0;
    font-weight: bold;
  }

  #rating-form {
    margin-bottom: 15px;

    label {
      display: block;
    }

  }

}


/* Signup/Login form styles */

.signup-form {
  @include background-tile;

  h2 {
    margin-top: 0;
    font-weight: bold;
  }

}

.login-form {
  @include background-tile;

  h2 {
    margin-top: 0;
  }

}

/* FOOTER */

.footer {
  margin-top: 45px;
  padding-top: 10px;
  border-top: 1px solid #000;
  color: #777;
}

.footer a:hover {
  color: #222;
}

.footer small {
  float: left;
}

.footer ul {
  float: right;
  list-style: none;
}

.footer ul li {
  float: left;
  margin-left: 15px;
}


/*
.tutorial {
   height: 320px;
   width: 180px;
 }

.tutorial-show {
   height: 475px;
   width: 280px;
 }
 */
