
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Neuton');
@import url('https://fonts.googleapis.com/css?family=Lato:400i');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "normalize";

/* NAVIGATION */
.navbar-default {
  background-color: #fff;
  border-color: transparent;
}

.navbar-nav {
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
  margin: 25px 100px 0;
}

.navbar-default .navbar-nav .link {
  color: #AFAFAF;
}

.link:hover {
  color: red;
}

.navbar-brand {
  margin: 10px 0;
}

.navbar-brand:hover {
  
}

/*HERO*/
#hero {
  background-image: url('hero-bg.jpg');
  background-size: cover;
  width: 100%;
  padding: 300px 0;
}

#hero .container h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 4.2em;
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
}

#hero .container h2 {
  color: #fff;
  font-size: 1.5em;
  font-style: italic;
}

#hero .container .button {
  margin-top: 50px;
  padding: 20px 30px;
  background-color: transparent;
  border-color: #fff;
  text-transform: uppercase;
  transition: 0.3s;
}

#hero .container .button:hover {
  background-color: #3CB371;
  border-color: #3CB371;  
  transition: 0.3s;
}

.colorize {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}


/*WHAT WE DO */
#what-we-do {
  background-color: #F7F7F7;
  padding: 100px 0;
}

.icon {
  margin-top: 15px;
  padding: 45px 45px;
  border: 2px solid #3CB371;
  border-radius: 10px;
  color: #3CB371;
  transition: 0.3s;
}

.icon:hover,
.icon-git:hover {
  color: #23603e;
  border-color: #23603e;
  transition: 0.3s;
}

.wwd-header {
  color: #3CB371;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.3em;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 40px;
}

.wwd-para {
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
  text-align: left;
}

#what-we-do-2 {
  background-color: #F7F7F7;
  padding: 50px 0 100px 0;
}

.wwd-header-2 {
  color: #3CB371;
  text-align: right;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.3em;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 40px;
}

.wwd-para-2 {
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
  text-align: right;
}

.icon-git {
  margin-top: 15px;
  padding: 45px 60px;
  border: 2px solid #3CB371;
  border-radius: 10px;
  color: #3CB371;
  transition: 0.3s;
}

/* OUR COURSES */
#our-course {
  padding: 100px 0;
}

#our-course h1 {
  text-align: center;
  color: #3CB371;
  margin-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.3em;
  font-weight: 700;
  text-transform: uppercase;
}

#our-course .oc-icon {
  color: #3CB371;
  margin-bottom: 30px;
}

#our-course p {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 1.4em; 
}

/*FOOTER*/
#footer {
  padding: 50px 0;
  background-color: #45494D;
  font-family: 'Lato', sans-serif;
  color: #fff;
}

#footer .social {
  margin-left: 20px;
  transition: 0.3s;
}

#footer .social:hover {
  color: #3CB371;
  transition: 0.3s;
}

/* SIGN UP & SIGN IN*/
#sign-up {
  background-color: #F7F7F7;
  padding: 100px 0;
}

.btn-custom {
  width: 100%;
  font-family: 'Lato', sans-serif;
  color: #fff;
  text-transform: uppercase;
  border-radius: 10px;
  font-size: 1.3em;
  padding: 15px 20px;
  background-color: #45494D;
  margin: 30px 0 0 0;
}

#sign-up h2, .min-pass, .check-box-label {
  color: #333333;
  font-size: 1.2em;
  font-family: 'Lato', sans-serif;
  font-weight: 200;
}

.btn-link {
  color: #3cb371;
  font-family: 'Lato', sans-serif;
  font-size: 1.0em;
}

.btn-link:hover {
  color: #267147;
  text-decoration: none;
}

.custom-form {
  padding: 25px 30px;
  transition: 0.3s;
}

.custom-form::-webkit-input-placeholder {
  font-family: 'Avenir', sans-serif;
  font-size: 1.3em;
}

.custom-form:focus {
  box-shadow: none;
  outline: none;
  border-color: #7e7e7e;
  transition: 0.3s;
}










