<div class="review">
  <p class="review-comment"><%= review.comment %></p>
  <% if user_signed_in? %>
    <% if (review.user_id == current_user.id) || current_user.admin? %>
      <div class="links btn-group">
        <%= link_to "Edit", edit_tutorial_review_path(review.tutorial, review), class: "btn-custom2" %>
        <%= link_to "Delete", tutorial_review_path(review.tutorial, review), method: :delete, data: { confirm: "Are you sure you want to delete your review?" }, class: "btn-custom2" %>
      </div>
    <% end %>
  <% end %>
</div>