<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>&copy; Copyright 2016 Mohsen Sadeghbeigi - All Rights Reserved</p>
      </div>
      <div class="col-md-6">
        <div align="right">
          <%= fa_icon "facebook-square", class: "fa-2x social" %>
          <%= fa_icon "twitter-square", class: "fa-2x social" %>
        </div>
      </div>
    </div>
  </div>
</section>